<!-- views/reportResult.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Result</title>
</head>
<body>
<h2>Report Result</h2>

<% reportResult.forEach(row => { %>
            <% Object.values(row).forEach(value => { %>
                <td><%= typeof value === 'object' ? JSON.stringify(value) : value %></td>
            <% }); %>
    <% }); %>

</body>
</html>

